#env
*.env
.env

#cert
*.pem

# ===== Dependencies =====
node_modules/

# ===== Environment =====
.env
.env.local
.env.production

# ===== Build output =====
dist/
build/

# ===== Runtime =====
logs/
*.log
*.pid

# ===== Database =====
*.sqlite
*.db

# ===== Testing =====
coverage/

# ===== Temporary =====
tmp/
.temp/
